.contact-details {
  border-radius: 3px;
  padding-left: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #fff;
  background-color: #3779ba;
  
}
.contact-details h6 {
  margin-left: 20px;
}
.contact-details i {
  margin-right: 3px;
}
.contact-details span {
  font-weight: bold;
  margin-right: 3px;
}

.contact-details .head {
  margin-left: 15px;
}

.contact-form .btn {
  margin-bottom: 20px;
}
