
<nav class="uikit-header uikit-header--light" id="blurb">
<main class="uikit-grid no-a11y-test">

<div class="grids col-md-offset-1 col-md-8">
<p>The Prime Minister's Veterans' Employment Program demonstrates the importance the Government places on raising awareness with employers, both private and public sector, and of the value and unique experience of our veterans. <a href="">Read more</a></p>
</div>

</main>
</nav>
