
<nav class="uikit-header uikit-header--nav" id="nav role="nav">

<main class="uikit-grid no-a11y-test">





  <ul class="uikit-link-list uikit-link-list--inline">
		<li><a href="/home">Home</a></li>
		<li><a href="#">About</a></li>
		<li><a href="/veterans">Resources</a></li>
    <li><a href="/awards">Awards</a></li>
  	<li><a href="#">Contact</a></li>
	</ul>


</main>

</nav>
