
<header class="uikit-header" role="banner">
<main class="uikit-grid no-a11y-test">




  <h1 class="uikit-header-heading">
    Prime Minister's Veterans' Employment Program
  </h1>
  <ul class="uikit-link-list uikit-link-list--inline">
		<li><a href="#">Home</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Resources</a></li>
    <li><a href="#">Awards</a></li>
  	<li><a href="#">Contact</a></li>
	</ul>


</main>
</header>
