<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body id="page-top">

    <% include ../partials/navbar.ejs %>

      <nav class="uikit-header uikit-header--light" id="awards">
      <main class="uikit-grid no-a11y-test">
        <div class = "container">
          <div class="grids col-md-offset-1 col-md-8">

              <p>The Prime Minister’s Veterans’ Employment Annual Awards will recognise the achievements of companies in creating employment opportunities for veterans.</p>

              <p>The criteria for the awards will be developed in consultation with the Industry Advisory Committee on Veterans’ Employment.</p>

              <p>Further details regarding the criteria and how to submit nominations for an Award will be made available when finalised. The inaugural awards are expected to be presented in late 2017.</p>

          </div>
        </div>
      </main>
      </nav>

    <% include ../partials/footer.ejs %>
  </body>
</html>
