<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body  id="page-top">

    <% include ../partials/navbar.ejs %>
     <div class="uikit-body">
      <nav class="uikit-header uikit-header--light" id="veterans">
      <main class="uikit-grid no-a11y-test">
        <div class = "container">
          <div class="grids col-md-offset-1 col-md-8">

              <h1 id="link">Information for veterans</h1>

               <nav class="uikit-inpage-nav-links">
                 <h2 class="uikit-inpage-nav-links__heading uikit-display-2">In this section</h2>
                 <ul class="uikit-link-list">
                   <li><a href="#section1">Resources for veterans</a></li>
                   <li><a href="#section2">Section 2</a></li>
                 </ul>
               </nav>

               <h2 class="uikit-inpage-nav-section uikit-display-3" id="heading">Resources for veterans
                   <a id="section1" href="#section1"> </a>
               </h2>


               <h5 id="subheading">Jobactive</h5>
               <p>The Australian Government provides a free jobs board on the <a href="https://jobactive.gov.au/">jobactive</a> website, open to all employers, to advertise their vacancies.
                 It has been enhanced to allow employers to indicate that they prefer applicants with ADF experience.</p>

               <p>Veterans can access the site and search specifically for jobs with “Defence Force Experience Desirable”.
               A step-by-step guide for veterans, on how to use the jobactive website to find vacancies which are flagged as suitable for those with defence force experience is available.</p>

               <p>The Australian Government provides a free jobs board on the <a href="https://jobactive.gov.au/">jobactive</a> website, open to all employers, to advertise their vacancies.
                 It has been enhanced to allow employers to indicate that they prefer applicants with ADF experience.</p>

               <p>Veterans can access the site and search specifically for jobs with “Defence Force Experience Desirable”.
               A step-by-step guide for veterans, on how to use the jobactive website to find vacancies which are flagged as suitable for those with defence force experience is available.</p>


               <h5 class="uikit-inpage-nav-section uikit-display-3" id="heading">Resources for veterans
                   <a id="section2" href="#section2"> </a>
               </h5>
               <p>The Australian Government provides a free jobs board on the <a href="https://jobactive.gov.au/">jobactive</a> website, open to all employers, to advertise their vacancies.
                 It has been enhanced to allow employers to indicate that they prefer applicants with ADF experience.</p>

               <p>Veterans can access the site and search specifically for jobs with “Defence Force Experience Desirable”.
               A step-by-step guide for veterans, on how to use the jobactive website to find vacancies which are flagged as suitable for those with defence force experience is available.</p>

             </div>
           </div>
         </main>
         </nav>
       </div>
</html>
