<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body id="page-top">
      <% include ../partials/navbar.ejs %>

      <section class="newsfeed" id="news">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3 col-md-offset-6">
              <h1 id="newsHeading">Transfer Between Military and Civilian Life</h1>
              <p>
                The Prime Minister's Veterans' Employment Program demonstrates the importance the Government
                places on raising awareness with employers, both private and public sector, of the value
                and unique experience of our veterans.
              </p>
            </div>
          </div>
        </div>
      </section>

    	<div class="subheader">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
    		      <h2 class="section-heading">About</h2>
            </div>
          </div>
        </div>
    	</div>

      <section class="bg-primary" id="about2">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-6 col-md-offset-3">
                      <p class="text-faded">
              					Members of the Australian Defence Force (ADF) gain an extensive range of skills, abilities,
                        recognised behaviors and attributes that make them valuable employees in the civilian workforce.
                        Skills such as problem-solving, leadership, team work and the ability to work in high-pressure environments
                        are just to name a few. Many former members continue to live by core ADF values such as honesty, honour,
                        initiative, integrity, respect and loyalty. These attributes are an asset to any employer.
                      </p>
                  </div>

                  <div class="col-md-4 col-md-offset-3">
                      <h2 class="section-heading">Information Advisory Committee</h2>
                  </div>
                  <div class="col-md-8 col-md-offset-3">
                      <div class="col-md-3 col-md-offset-1">
                        <span data-toggle="modal" data-target="#person-1">
                          <div class="hidden-overlay-lg">Read More...</div>
                          <img src="img/portfolio/fullsize/iac-placeholder.png" class="iac-img-lg" />
                        </span>
                        <div class="iac-details-container-lg">
                          <div class="iac-details-lg">
                            <p class="name">Smith, John</p>
                            <p class="company">CEO, Bank</p>
                            <p class="qualifications">Bachelors of Commerce (Hon), Doctor in Psychology</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <span  data-toggle="modal" data-target="#person-1">
                          <div class="hidden-overlay-lg">Read More...</div>
                          <img src="img/portfolio/fullsize/iac-placeholder.png" class="iac-img-lg" />
                        </span>
                        <div class="iac-details-container-lg">
                          <div class="iac-details-lg">
                            <p class="name">Smith, John</p>
                            <p class="company">CEO, Bank</p>
                            <p class="qualifications">Bachelors of Commerce (Hon)</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-8 col-md-offset-3">
                      <div class="col-md-2">
                        <span  data-toggle="modal" data-target="#person-1">
                          <div class="hidden-overlay-sm">Read More...</div>
                          <img src="img/portfolio/fullsize/iac-placeholder.png" class="iac-img-sm"  />
                        </span>
                        <div class="iac-details-container-sm">
                          <div class="iac-details-sm">
                            <p class="name">Smith, John</p>
                            <p class="company">CEO, Bank</p>
                            <p class="qualifications">Bachelors of Commerce (Hon), Doctor in Psychology</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <span  data-toggle="modal" data-target="#person-1">
                          <div class="hidden-overlay-sm">Read More...</div>
                          <img src="img/portfolio/fullsize/iac-placeholder.png" class="iac-img-sm"  />
                        </span>
                        <div class="iac-details-container-sm">
                          <div class="iac-details-sm">
                            <p class="name">Smith, John</p>
                            <p class="company">CEO, Bank</p>
                            <p class="qualifications">Bachelors of Commerce (Hon)</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <span  data-toggle="modal" data-target="#person-1">
                          <div class="hidden-overlay-sm">Read More...</div>
                          <img src="img/portfolio/fullsize/iac-placeholder.png" class="iac-img-sm"  data-toggle="modal" data-target="#person-1" />
                        </span>
                        <div class="iac-details-container-sm">
                          <div class="iac-details-sm">
                            <p class="name">Smith, John</p>
                            <p class="company">CEO, Bank</p>
                            <p class="qualifications">Bachelors of Commerce (Hon), Doctor in Psychology</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <span  data-toggle="modal" data-target="#person-1">
                          <div class="hidden-overlay-sm">Read More...</div>
                          <img src="img/portfolio/fullsize/iac-placeholder.png" class="iac-img-sm"  />
                        </span>
                        <div class="iac-details-container-sm">
                          <div class="iac-details-sm">
                            <p class="name">Smith, John</p>
                            <p class="company">CEO, Bank</p>
                            <p class="qualifications">Bachelors of Commerce (Hon), Doctor in Psychology</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-8 col-md-offset-3">
                      <div class="col-md-2">
                        <span  data-toggle="modal" data-target="#person-1">
                          <div class="hidden-overlay-sm">Read More...</div>
                          <img src="img/portfolio/fullsize/iac-placeholder.png" class="iac-img-sm"  />
                        </span>
                        <div class="iac-details-container-sm">
                          <div class="iac-details-sm">
                            <p class="name">Smith, John</p>
                            <p class="company">CEO, Bank</p>
                            <p class="qualifications">Bachelors of Commerce (Hon)</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <span  data-toggle="modal" data-target="#person-1">
                          <div class="hidden-overlay-sm">Read More...</div>
                          <img src="img/portfolio/fullsize/iac-placeholder.png" class="iac-img-sm"  />
                        </span>
                        <div class="iac-details-container-sm">
                          <div class="iac-details-sm">
                            <p class="name">Smith, John</p>
                            <p class="company">CEO, Bank</p>
                            <p class="qualifications">Bachelors of Commerce (Hon)</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <span  data-toggle="modal" data-target="#person-1">
                          <div class="hidden-overlay-sm">Read More...</div>
                          <img src="img/portfolio/fullsize/iac-placeholder.png" class="iac-img-sm"  />
                        </span>
                        <div class="iac-details-container-sm">
                          <div class="iac-details-sm">
                            <p class="name">Smith, John</p>
                            <p class="company">CEO, Bank</p>
                            <p class="qualifications">Bachelors of Commerce (Hon), Doctor in Psychology</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <span  data-toggle="modal" data-target="#person-1">
                          <div class="hidden-overlay-sm">Read More...</div>
                          <img src="img/portfolio/fullsize/iac-placeholder.png" class="iac-img-sm"  />
                        </span>
                        <div class="iac-details-container-sm">
                          <div class="iac-details-sm">
                            <p class="name">Smith, John</p>
                            <p class="company">CEO, Bank</p>
                            <p class="qualifications">Bachelors of Commerce (Hon), Doctor in Psychology</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-8 col-md-offset-3">
                      <div class="col-md-2">
                        <span  data-toggle="modal" data-target="#person-1">
                          <div class="hidden-overlay-sm">Read More...</div>
                          <img src="img/portfolio/fullsize/iac-placeholder.png" class="iac-img-sm"  />
                        </span>
                        <div class="iac-details-container-sm">
                          <div class="iac-details-sm">
                            <p class="name">Smith, John</p>
                            <p class="company">CEO, Bank</p>
                            <p class="qualifications">Bachelors of Commerce (Hon)</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <span  data-toggle="modal" data-target="#person-1">
                          <div class="hidden-overlay-sm">Read More...</div>
                          <img src="img/portfolio/fullsize/iac-placeholder.png" class="iac-img-sm"  />
                        </span>
                        <div class="iac-details-container-sm">
                          <div class="iac-details-sm">
                            <p class="name">Smith, John</p>
                            <p class="company">CEO, Bank</p>
                            <p class="qualifications">Bachelors of Commerce (Hon), Doctor in Psychology</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <span  data-toggle="modal" data-target="#person-1">
                          <div class="hidden-overlay-sm">Read More...</div>
                          <img src="img/portfolio/fullsize/iac-placeholder.png" class="iac-img-sm"  />
                        </span>
                        <div class="iac-details-container-sm">
                          <div class="iac-details-sm">
                            <p class="name">Smith, John</p>
                            <p class="company">CEO, Bank</p>
                            <p class="qualifications">Bachelors of Commerce (Hon)</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <span  data-toggle="modal" data-target="#person-1">
                          <div class="hidden-overlay-sm">Read More...</div>
                          <img src="img/portfolio/fullsize/iac-placeholder.png" class="iac-img-sm"  />
                        </span>
                        <div class="iac-details-container-sm">
                          <div class="iac-details-sm">
                            <p class="name">Smith, John</p>
                            <p class="company">CEO, Bank</p>
                            <p class="qualifications">Bachelors of Commerce (Hon), Doctor in Psychology</p>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>

  <% include ../partials/footer.ejs %>
  
  <div class="modal modal-bio fade" id="person-1" tabindex="-1" role="dialog" aria-labelledby="person-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-4">
                      <img src="img/portfolio/fullsize/iac-placeholder.png" class="iac-bio-img" />
                    </div>
                    <div class="col-md-7">
                      <p class="name">JOHN SMITH</p>
                      <p class="company">CEO, Bank</p>
                      <p class="qualifications">Bachelors of Commerce (Hon), Doctor in Psychology</p>
                    </div>
                  </div>
                  <div class="col-md-12 bio">
                    <p>
                      Te veritus iudicabit sit, ei mea aeque detraxit mediocritatem,
                      facer tamquam impedit qui an. Consetetur referrentur consequuntur
                      cu eos, sea debet vitae disputationi no, zril veniam quaestio ne his.
                      Lorem ipsum dolor sit amet, meis legere voluptaria eam no.
                      Cu nam alii lobortis, eu sit porro senserit incorrupte.
                    </p>
                    <p>
                      Cu debet commune detracto vel, duo ne possim accusamus constituto,
                      his te zril dissentiet appellantur. Te fabellas consequat quo, et
                      pro nulla clita. Ius ei docendi moderatius reprehendunt, solum
                      tincidunt vel an. Habeo patrioque signiferumque in vim, eros
                      putent volutpat per ea. Ut his appetere incorrupte, mei ex zril
                      equidem. Duo ad viris accumsan inimicus, imperdiet
                      efficiendi eos et.
                    </p>
                    <p>
                      Sit ei docendi ancillae ullamcorper. Duo falli debet mandamus et.
                      Mel impedit intellegam ad, vel numquam splendide ut. Ne mei
                      solet iuvaret deseruisse, phaedrum honestatis eos an, error
                      possim blandit ei his. Vis eu laoreet urbanitas.
                      Eam ex necessitatibus concludaturque. Iudicabit adversarium
                      cu quo. Duo affert doming qualisque ex, mutat laudem rationibus
                      ius id. Cu viris laoreet ius.
                    </p>
                    <p>
                      Eu magna deserunt definiebas mel, vel ei ferri ocurreret
                      cotidieque, ad dicit lobortis comprehensam mea. Animal
                      nonumes instructior mea an, vix et iudico exerci necessitatibus.
                      His autem idque eloquentiam ea. Nam erant nullam altera ei.
                      Nam odio abhorreant ei. Ius solet menandri ne, legere
                      graeci mel ex. Mel veri pertinax salutandi ex, eam ut
                      ridens adolescens, mel facete scripta legendos ut.
                    </p>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>

  </body>
</html>
