<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body id="page-top">
      <% include ../partials/navbar.ejs %>

      <section class="newsfeed" id="news">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3 col-md-offset-6">
              <h1 id="newsHeading">Transfer Between Military and Civilian Life</h1>
              <p>
                The Prime Minister's Veterans' Employment Program demonstrates the importance the Government
                places on raising awareness with employers, both private and public sector, of the value
                and unique experience of our veterans.
              </p>
            </div>
          </div>
        </div>
      </section>

    	<div class="subheader">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
    		      <h2 class="section-heading">Awards</h2>
            </div>
          </div>
        </div>
    	</div>

      <section class="bg-primary" id="about2">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-6 col-md-offset-3">
                      <p class="text-faded">
              					The Prime Minister’s Veterans’ Employment Annual Awards will recognise the achievements of companies in creating employment opportunities for veterans.  The criteria for the awards will be developed in consultation with the Industry Advisory Committee on Veterans’ Employment.
								Further details regarding the criteria and how to submit nominations for an Award will be made available when finalised.  The inaugural awards are expected to be presented in late 2017.

                      </p>
                  </div>

                </div>
           </div>
      </section>

  <% include ../partials/footer.ejs %>



  </body>
</html>
