<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body id="page-top">
      <% include ../partials/navbar.ejs %>

      <section class="newsfeed" id="news">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3 col-md-offset-6">
              <h1 id="newsHeading">Transfer Between Military and Civilian Life</h1>
              <p>
                The Prime Minister's Veterans' Employment Program demonstrates the importance the Government
                places on raising awareness with employers, both private and public sector, of the value
                and unique experience of our veterans.
              </p>
            </div>
          </div>
        </div>
      </section>

    	<div class="subheader">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
    		      <h2 class="section-heading"> Contact Us</h2>
            </div>
          </div>
        </div>
    	</div>
      <section>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="col-md-12">
                <form>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="firstname">First Name</label>
                      <input type="text" class="form-control" id="firstname" placeholder="ex. John" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="surname">Last Name</label>
                      <input type="text" class="form-control" id="surname" placeholder="ex. Smith" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="email" class="form-control" id="email" placeholder="ex. john.smith@example.com" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="phone">Phone Number</label>
                      <input type="email" class="form-control" id="phone" placeholder="ex. 0412 3456 7890" />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="feedback">Feedback</label>
                      <textarea class="form-control" rows="4"></textarea>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                </form>
              </div>
            </div>
            <div class="col-md-2">
              <div class="contact-details">
                <h4>Contact Details</h4>
                <h5><i class="fa fa-phone"></i>Phone Number</h5>
                <h6><span class="head">Local:</span>133 254</h6>
                <h6><span class="head">Regional:</span>1800 555 254</h6>
                <h6><span class="head">International:</span>61 2 6289 1133</h6>
                <h5><i class="fa fa-envelope"></i>Email Address</h5>
                <h6>veteransemployment@dva.gov.au</h6>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 contact-form2">
                <div class="col-md-8 ">
                  <form>
                    <h2>Send us a Message</h2>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="firstname">First Name</label>
                        <input type="text" class="form-control" placeholder="ex. John" />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="surname">Last Name</label>
                        <input type="text" class="form-control" placeholder="ex. Smith" />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" placeholder="ex. john.smith@example.com" />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="phone">Phone Number</label>
                        <input type="email" class="form-control" placeholder="ex. 0412 3456 7890" />
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="feedback">Feedback</label>
                        <textarea class="form-control" rows="4"></textarea>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                  </form>
                </div>

              <div class="col-md-4 contact-details2">
                <h2>Contact Details</h2>
                <h4>
                  <i class="fa fa-map-marker"></i>
                  <span class="street">360 King Street</span>
                  <span class="town">Feasterville Trevose, PA 19053</span>
                </h4>
                <h4>
                  <i class="fa fa-phone"></i>
                  <span class="local">133 254</span>
                  <span class="regional">1800 555 254</span>
                  <span class="international">61 2 6289 1133</span>
                </h4>
                <h4>
                  <i class="fa fa-envelope"></i>
                  <span class="email">veteransemployment@dva.gov.au</span>
                </h4>
                <h3>
                  <a href="#"><i class="fa fa-facebook-official"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </section>
    <% include ../partials/footer.ejs %>
  </body>
</html>
