<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body id="page-top">
      <% include ../partials/navbar.ejs %>

      <section class="newsfeed" id="news">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3 col-md-offset-6">
              <h1 id="newsHeading">Transfer Between Military and Civilian Life</h1>
              <p>
                The Prime Minister's Veterans' Employment Program demonstrates the importance the Government
                places on raising awareness with employers, both private and public sector, of the value
                and unique experience of our veterans.
              </p>
            </div>
          </div>
        </div>
      </section>

    	<div class="subheader">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
    		      <h2 class="section-heading"> Veterans' Employment Program</h2>
            </div>
          </div>
        </div>
    	</div>

      <section class="bg-primary" id="about2">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-4 col-md-offset-3">
                      <p>
              					Members of the Australian Defence Force (ADF) gain an extensive range of skills, abilities,
                        recognised behaviors and attributes that make them valuable employees in the civilian workforce.
                        Skills such as problem-solving, leadership, team work and the ability to work in high-pressure environments
                        are just to name a few. Many former members continue to live by core ADF values such as honesty, honour,
                        initiative, integrity, respect and loyalty. These attributes are an asset to any employer.
                      </p>
            	        <p>
                        The Prime Minister's Veterans' Employment Program will also work with industry to embed veteran's
                        employment programs in their recruitment strategies and again raise the enormous potential of former
                        ADF personnel to the civilian workforce.
                      </p>
					  
					  <div class="row">
								<div class="well well-sm">
							  <div class="recent-news">
								<h4>Recent News</h4>
								<div class="news-item">
								  <h5>From battlefield to the boardroom</h5>
								  <p class="content">
									TRY to imagine for a moment being Ben Roberts-Smith. You're the
									embodiment of masculinity - bigger, stronger and taller... <a href="#">Read more</a>
								  </p>
								  <p class="timestamp">14th of December, 2016</p>
								</div>
								<div class="news-item">
								  <h5>Veteran Employment Bill Passes Senate</h5>
								  <p class="content">
									The bill already passed the House of Representatives in February.
									Cook had reintroduced this bipartisan bill earlier this year. ... <a href="#">Read more</a>
								  </p>
								  <p class="timestamp">28th of November, 2016</p>
								</div>
							  </div>
							</div>
					  </div>
					  
					  
                  </div>
                  <div class="col-md-2">
                  
                      <div class="row">
									<div class="col-md-12">
									  <a href="/resources#veteran" class="card-link">
										<div class="card">
										  <h4><i class="fa fa-user"></i>Veteran</h4>
										  <h5>Information for Veterans</h5>
										</div>
									  </a>
									</div>
									<div class="col-md-12">
									  <a href="/resources#employer" class="card-link">
										<div class="card">
										  <h4><i class="fa fa-briefcase"></i>Employer</h4>
										  <h5>Information for Employers</h5>
										</div>
									  </a>
									</div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
    <% include ../partials/footer.ejs %>
  </body>
</html>
