<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body id="page-top">
      <% include ../partials/navbar.ejs %>

      <section class="newsfeed" id="news">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3 col-md-offset-6">
              <h1 id="newsHeading">Transfer Between Military and Civilian Life</h1>
              <p>
                The Prime Minister's Veterans' Employment Program demonstrates the importance the Government
                places on raising awareness with employers, both private and public sector, of the value
                and unique experience of our veterans.
              </p>
            </div>
          </div>
        </div>
      </section>

    	<div class="subheader">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
    		      <h2 class="section-heading">Resources</h2>
            </div>
          </div>
        </div>
    	</div>




		<section class="bg-primary" id="tabnav">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-offset-3">
            <div class="row">
                <div class="col-md-8">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi urna ante, convallis eu augue et, cursus vehicula enim. Quisque aliquam orci vitae quam lobortis, sed ullamcorper ante dictum. Vestibulum dictum, lectus sit amet porttitor scelerisque, nisl quam egestas est, sed posuere lacus diam vitae ex. In feugiat, metus ut molestie gravida, libero diam maximus nunc, id laoreet libero tellus nec quam. Sed pellentesque urna ut semper ornare. Nunc sit amet nulla sodales, vestibulum nisi eget, aliquet lacus. Nullam ultrices metus nisi, vitae ultricies nulla placerat eu. Ut eu lobortis dui. Aliquam elementum, magna eget imperdiet condimentum, augue augue rutrum elit, in egestas odio ipsum nec diam. In feugiat tincidunt justo, vitae cursus nibh aliquet nec. Donec quis lectus mauris. Fusce varius libero sit amet diam imperdiet suscipit. Maecenas consectetur orci in mauris blandit, nec ultrices libero faucibus.
                </div>
            </div>
						<div class="row">
							<div class="col-md-8">
							<ul class="nav nav-pills nav-justified">
								<li class="active">
									<a  href="#veteran" data-toggle="tab"> <h4><i class="fa fa-user"></i>Veterans</h4></a>
								</li>
								<li>
									<a href="#employer" data-toggle="tab"><h4><i class="fa fa-briefcase"></i>Employers</h4></a>
								</li>
							</ul>


							<div class="tab-content clearfix">
								<div class="tab-pane active" id="veteran">
									<div class="tab-subheader"><h3>Resources for Veterans</h3></div>





											<dl>
												<dt>Jobactive</dt>
												<dd>The Australian Government provides a free jobs board on the jobactive website, open to all employers, to advertise their vacancies.  It has been enhanced to allow employers to indicate that they prefer applicants with ADF experience.

										Veterans can access the site and search specifically for jobs with “Defence Force Experience Desirable”.  A step-by-step guide for veterans, on how to use the jobactive website to find vacancies which are flagged as suitable for those with defence force experience is available.</dd>


												<dt><a href=https://jobsearch.gov.au/jobseeker-info/employment-assistance-for-veterans>Department of Employment</a></dt>
												<dd>The Department of Employment provides a selection of employment planning resources and labour market information tailored to the needs of veterans.</dd>
												<dd></dd>

												<dt><a href=http://www.defence.gov.au/DCO/Transitions/>Defence Community Organisation</a></dt>
												<dd>Defence Community Organisation helps veterans’ move back into civilian life.</dd>
												<dd>	</dd>

												<dt><a href=http://www.defence.gov.au/payandconditions/adf/Chapter-2/Part-2/>Career Transition Assistance Scheme</a></dt>
												<dd>Career Transition Assistance Scheme assists veterans with career transition when they separate from the ADF after full time continuous service.</dd>
												<dd></dd>


												<dt><a href=http://adfconsumer.gov.au/>Australian Defence Force Financial Services Consumer Centre</a></dt>
												<dd>Australian Defence Force Financial Services Consumer Centre provides independent, professional financial education (not advice) to ADF members and their families.</dd>
												<dd></dd>


												<dt><a href=https://www.csc.gov.au/>Commonwealth Superannuation Corporation</a> </dt>
												<dd>Commonwealth Superannuation Corporation provides guidance on how to apply for a superannuation benefit when you leave the ADF.  It also includes information about managing your pension.</dd>
												<dd></dd>


												<dt><a href=https://www.apsjobs.gov.au/>APSJobs</a></dt>
												<dd>The Australian Public Service Commission (APSC) will launch a redeveloped APSJobs website which will include specific information to assist veterans seeking employment in the Australian Public Service (APS) later in 2017. The APSC will also develop a toolkit that will provide veterans with information on working in the APS and a tool that aligns Australian Defence Force ranks to APS classifications.</dd>
												<dd></dd>
											</dl>



										<div class="tab-subheader"><h3>DVA Factsheets</h3></div>



											 <dl>
												<dt><a href=https://www.dva.gov.au/factsheet-mrc05-rehabilitation>Rehabilitation Factsheet</a></dt>
												<dd>This Factsheet provides information about rehabilitation provided by DVA under the Safety, Rehabilitation and Compensation Act 1988 (SRCA) and the Military Rehabilitation and Compensation Act 2004 (MRCA).
													Former members of the Australian Defence Force (ADF), Cadets, and Declared members who have suffered an injury or disease due to their ADF service and have eligibility under the SRCA and/or the MRCA, may be entitled to rehabilitation assistance provided by DVA.
												 </dd>
												<dd></dd>

												<dt><a href=http://www.dva.gov.au/factsheet-hsv108-veterans-vocational-rehabilitation-scheme>Veterans' Vocational Rehabilitation Scheme Factsheet</a></dt>
												<dd>Veterans’ Vocational Rehabilitation Scheme is a voluntary scheme offered by the Department of Veterans’ Affairs (DVA) to help eligible veterans (with or without disability) who need assistance to obtain or hold suitable paid employment.  </dd>
												<dd></dd>


												</dl>


										<div class="tab-subheader"><h3>State and Territory Resources</h3></div>


											 <dl>
												<dt><a href=http://www.vep.veterans.nsw.gov.au/>New South Wales</a></dt>
												<dd>The New South Wales Government offers a variety of careers in its public sector allowing veterans to draw upon their unique military experience and skills.

												The NSW Government Veterans Employment Program has been established to help an additional 200 veterans find suitable, sustainable and meaningful employment within the NSW Government Sector by 2019.
												 </dd>
												<dd></dd>

												<dt><a href=http://www.dpc.vic.gov.au/index.php/veterans/overview>Victoria</a></dt>
												<dd>The Victorian Government <a href=http://www.premier.vic.gov.au/giving-veterans-the-job-support-they-need/>will develop a strategy</a> to help up to 250 young veterans transitioning back to civilian life find jobs in the Victorian public sector.  </dd>


												<dt><a href=https://www.qld.gov.au/about/how-government-works/other-government-bodies/veterans-advisory-council/>Queensland</a></dt>
												<dd>The Queensland Veterans’ Advisory Council provides information on education and employment.  </dd>
												<dd></dd>

												<dt><a href=https://publicsector.wa.gov.au/veterans-employment-transition-support-vets>Western Australia</a></dt>
												<dd>
													The Western Australian Government has implemented the Veterans Employment Transition Support (VETS)[scheme?] to encourage current and former ADF members to consider employment in the WA public sector.

													A network of volunteer VETS mentors has been established to provide advice and support on matters related to the transition of ex-ADF members into the public sector.</dd>
												<dd></dd>

												<dt><a href=http://anzaccentenary.sa.gov.au/about/veterans-advisory-council/>South Australia </a></dt>
												<dd>The South Australian Government has established a Veterans’ Advisory Council.  The Council’s role is to promote the wellbeing of veterans and provide advice to the South Australian Government.</dd>
												<dd></dd>

												<dt><a href=https://nt.gov.au/industry/defence-support/defence-community/veterans-support>Northern Territory</a></dt>
												<dd>The Northern Territory Government has established the Veterans’ Support Ministerial Advisory Council to provide advice to the Northern Territory Government on issues affecting veterans and their families in the Northern Territory. </dd>
												<dd></dd>

												<dt><a href=http://www.cmd.act.gov.au/open_government/inform/act_government_media_releases/gordon-ramsay-mla-media-releases/2016/act-veterans-advisory-council-call-for-nominations>Australian Capital Territory</a></dt>
												<dd>The ACT Government is establishing a Veterans’ Advisory Council comprised of community members with a material interest in issues affective the veterans’ community.    </dd>
												<dd></dd>
											</dl>



								</div>




								<div class="tab-pane" id="employer">
									<div class="tab-subheader"><h3>Information for Employers</h3></div>


									<dl>
									<dt>Benefits of Employing Veterans</dt>
									<dd>Members of the Australian Defence Force (ADF) gain an extensive range of skills, abilities, recognised behaviours and attributes that make them valuable employees in the civilian workforce.  Skills such as problem-solving, leadership, team work and the ability to work in high-pressure environments are just a few.  Many former members continue to live by core ADF values such as honesty, honour, initiative, integrity, respect and loyalty.  These attributes make them valuable employees in the civilian workforce.
									Their talents are easily transferable to civilian life and include:</dd>
									<dd>⦁	learning new skills quickly</dd>
									<dd>⦁	being highly motivated and punctual</dd>
									<dd>⦁	communicating effectively to keep people informed</dd>
									<dd>⦁	completing tasks efficiently and on time</dd>
									<dd>⦁	working independently and as part of a team</dd>
									<dd>⦁	demonstrating leadership but also being able to follow instructions</dd>
									<dd>⦁	being well presented and courteous</dd>
									<dd>⦁	working with a variety of people from different backgrounds and with varying levels of experience.</dd>

									<dd>Many former ADF members will have acquired professional or trade qualifications that are recognised in the civilian workforce, for example mechanics, health professionals, carpenters and drivers.</dd>


									<dt>Advertising Jobs to Our Veterans</dt>
									<dd>The Australian Government provides a free jobs board on the jobactive website, open to all employers, to advertise their vacancies.  It has been enhanced to allow employers to indicate that they prefer applicants with ADF experience.  Veterans can access the site and search specifically for jobs with “Defence Force Experience Desirable”.</dd>

									<dd>Employers can also approach local jobactive, Transition to Work or Disability Employment Service providers to list vacancies aimed at veterans on their behalf.
									Employers need to register online at jobactive.gov.au, and instructions about listing vacancies and using the “Defence Force Experience Desirable” flag are available.</dd>
									</dl>

									</div>
								</div>













								</div>
							</div>





						</div>

					</div>
				</div>
				</div>					  </div>
					  </section>




    <% include ../partials/footer.ejs %>
  </body>
</html>
